GOOGLE_SHEETS_SPREADSHEET_ID=1f7YyNV33JhdLKnKY740ELuY_VvC84cPpgUgvE80XlzU
GOOGLE_SERVICE_ACCOUNT_EMAIL=your-service-account@project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_KEY\n-----END PRIVATE KEY-----\n"
APP_TIMEZONE=Asia/Bangkok
FB_ACCESS_TOKEN=your-facebook-access-token
FB_AD_ACCOUNT_IDS=act_1821842625152762,act_1474263064222209,act_1831887934042126
FB_ADS_START_DATE=2026-03-21
