GOOGLE_SHEETS_SPREADSHEET_ID=1f7YyNV33JhdLKnKY740ELuY_VvC84cPpgUgvE80XlzU
GOOGLE_SERVICE_ACCOUNT_EMAIL=your-service-account@project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_KEY\n-----END PRIVATE KEY-----\n"
APP_TIMEZONE=Asia/Bangkok
